body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}

.post-it {
    background-color: #f5dba9;
    border: 1px solid #f5dba9;
    padding: 20px;
    border-radius: 6px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-wrap: break-word;
}

.delete-button {
    background-color: #c79caa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.cancel-button {
    background-color: #808080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #a9a9a9;
}
