body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    min-height: 100vh; 
}

#form_ajouter {
    width: 50%; 
    padding: 20px; 
    background-color: #f5dba9; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    margin-top: 120px; 
}

#content {
    background-color: white; 
    border-radius: 10px; 
    padding: 20px;
    border: 2px solid #c79caa; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px; 
}

input[type="text"],
input[type="color"],
select {
    margin-bottom: 15px; 
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

input[type="submit"] {
    width: 100px; 
    align-self: flex-end; 
    margin-top: 20px;
    border: none;
    background-color: #c79caa; 
    color: white;
    padding: 10px; 
    border-radius: 5px; 
    cursor: pointer; 
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

.emailBubble {
    display: inline-block;
    background-color: #cdeac0;
    color: #006400;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.emailBubble .close {
    cursor: pointer;
    margin-left: 5px;
}

.error {
    border: 2px solid red;
}
.err {
    color: red;
    font-size: 12px;
}

label {
    color: #c79caa; 
}
