body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne le contenu en haut de la page */
    align-items: center; /* Centre horizontalement */
    min-height: 100vh; /* Hauteur minimale de la page, pour couvrir entièrement l'écran */
    margin: 0;
}

#form_ajouter {
    width: 50%; /* Largeur du formulaire */
    padding: 20px; /* Ajoute un espace intérieur au formulaire */
    background-color: #f5dba9; /* Couleur de fond du formulaire */
    border-radius: 10px; /* Coins arrondis */ 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre */
    margin-top: 120px; /* Espace entre le formulaire et le header */
}

#content {
    background-color: white; /* Couleur de fond du cadre */
    border-radius: 10px; /* Bord arrondi du cadre */
    padding: 20px; /* Espace intérieur du cadre */
    border: 2px solid #c79caa; /* Bordure solide grise autour du cadre */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px; /* Espacement entre les labels */
}

input[type="text"],
input[type="color"],
select {
    margin-bottom: 15px; /* Espacement entre les champs */
    padding: 5px; /* Espace intérieur du champ */
    border-radius: 5px; /* Bord arrondi des champs */
    border: 1px solid #ccc; /* Bordure solide grise autour des champs */
}

input[type="submit"] {
    width: 100px; /* Largeur du bouton */
    align-self: flex-end; /* Aligner le bouton à droite */
    margin-top: 20px; /* Espacement entre le bouton et les champs */
    border: none; /* Supprimer la bordure du bouton */
    background-color: #c79caa; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px; /* Espace intérieur du bouton */
    border-radius: 5px; /* Bord arrondi du bouton */
    cursor: pointer; /* Curseur de la souris en forme de main au survol */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}

.emailBubble {
    display: inline-block;
    background-color: #cdeac0;
    color: #006400;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}

.emailBubble .close {
    cursor: pointer;
    margin-left: 5px;
}

.error {
    border: 2px solid red;
}
.err {
    color: red;
    font-size: 12px;
}

label {
    color: #c79caa; /* Couleur rose pour les labels */
}
