#formulaire {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}


.control {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	font-size: 12px;
	padding: 4px;
	width: 90%;
}

